.movies {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 70px 70px 80px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    background-color: #202020;
    max-width: 1280px;
}
.movies__cards {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    justify-items: center;
    column-gap: 28px;
    row-gap: 32px;
    max-width: 100%;
    margin: 0;
    padding-top: 80px;
}
.movies__button {
    width: 100%;
    height: 36px;
    background-color: #2F2F2F;
    border: none;
    border-radius: 6px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: white;
}
.movies__button:hover {
    opacity: 0.8;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .movies {
        padding: 70px 30px 80px;
        max-width: 100%;
    }
}
@media screen and (max-width: 320px){
    .movies {
        padding: 70px 30px 80px;
        max-width: 100%;
    }
}