.movies__cards {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    justify-items: center;
    column-gap: 28px;
    row-gap: 32px;
    max-width: 100%;
    margin: 0;
    padding: 80px 0 0 0;
    list-style-type: none;
}
.movies__button {
    width: 100%;
    height: 36px;
    background-color: #2F2F2F;
    border: none;
    border-radius: 6px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: white;
}
.movies__button:hover {
    opacity: 0.8;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
@media screen and (max-width: 992px){
    .movies__cards {
        grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
        column-gap: 24px;
        row-gap: 35px;
    }
    .movies__button {
        margin-top: 80px;
    }
}
@media screen and (max-width: 576px){
    .movies__cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 0;
        row-gap: 16px;
        padding-top: 50px;
    }
}