.formcontainer {
    max-width: 1280px;
    background-color: #202020;
    margin: 0 auto;
    padding: 70px 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
}
.formcontainer__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 396px;
}
.formcontainer__logo {
    margin: 0;
    max-width: 38px;
    max-height: 38px;
}
.formcontainer__title {
    max-width: 396px;
    margin: 40px 0;
    padding: 0;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: #FFFFFF;
}
.formcontainer__form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 396px;
}
.formcontainer__label {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    margin-bottom: 6px;
    text-align: left;
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
}
.formcontainer__label:last-child {
    margin-bottom: 6px;
}
.formcontainer__error-validation {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    text-align: left;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    max-width: 100%;
}
.formcontainer__input {
    margin: 0;
    padding: 0 0 10px;
    max-width: 100%;
    text-align: left;
    outline: none;
    border: none;
    border-bottom: 1px solid #424242;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    background-color: #202020;
}
.formcontainer__input:focus {
    border-bottom: 1px solid #4285F4;
}
.formcontainer__footer {
    display: flex;
    margin: 0;
    margin-top: 111.5px;
    max-width: 100%;
    flex-direction: column;
}
.formcontainer__footer_type_login {
    margin-top: 180px;
}
.formcontainer__submit-error {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #202020;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
}
.formcontainer__submit-error_active {
    color: #EE3465;
}
.formcontainer__button {
    width: 396px;
    height: 45px;
    background-color: #4285F4;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    border: none;
    border-radius: 5px;
}
.formcontainer__button:hover {
    opacity: 0.8;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
.formcontainer__button:disabled {
    opacity: 1;
    background-color: #F8F8F8;
}
.formcontainer__description {
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-decoration: none;
}
.formcontainer__link {
    color: #4285F4;
}
.formcontainer__link:hover {
    opacity: 0.7;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .formcontainer {
        max-width: 100%;
        padding: 232px 0;
    }
}
@media screen and (max-width: 576px){
    .formcontainer {
        padding: 56px 0 30px;
    }
    .formcontainer__content {
        max-width: 260px;
    }
    .formcontainer__logo {
        margin: 0 auto;
    }
    .formcontainer__title {
        max-width: 260px;
        margin: 50px 0 80px;
        text-align: center;
    }
    .formcontainer__form {
        max-width: 260px;
    }
    .formcontainer__footer {
        margin-top: 199px;
    }
    .formcontainer__footer_type_login {
        margin-top: 268px;
    }
    .formcontainer__button {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 14.52px;
        width: 260px;
    }
    .formcontainer__description {
        font-size: 12px;
        line-height: 14.52px;
    }
}