.promo {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    row-gap: 84px;
    column-gap: 190px;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 75px 70px;
    background-color: #073042;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: #FFFFFF;
}
.promo__description {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 640px;
}
.promo__title {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    max-width: 100%;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}
.promo__subtitle {
    margin: 0;
    padding: 0;
    opacity: 0.5;
    max-width: 310px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
}
.promo__image {
    margin: 0;
    padding: 0;
    width: 310px;
    height: 304px;
}
.promo__link {
    text-decoration: none;
    margin: 0;
    padding: 10px 0;
    max-width: 129px;
    max-height: 36px;
    background-color: #073042;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}
.promo__link:hover {
    opacity: 0.7;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
@media screen and (max-width: 992px){
    .promo {
        display: flex;
        flex-direction: column;
        padding: 140px 44px 76px;
        gap: 0;
    }
    .promo__image {
        margin: 0 auto 48px;
    }
    .promo__description {
        margin: 0 auto 92px auto;
        max-width: 680px;
        order: 1;
    }
    .promo__title {
        margin-bottom: 22px;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
    }
    .promo__subtitle {
        margin: 0 auto;
        max-width: 260px;
        text-align: center;
    }
    .promo__link {
        order: 2;
        margin: 0 auto;
        padding: 10px 20px;
    }
}
@media screen and (max-width: 576px){
    .promo {
        padding: 70px 10px 30px;
    }
    .promo__image {
        margin-bottom: 44px;
        width: 210px;
        height: 206px;
    }
    .promo__description {
        margin-bottom: 80px;
        max-width: 300px;
    }
    .promo__title {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 38px;
    }
}