.header {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 70px;
    background-color: #202020;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
}
.header_color_green {
    background-color: #073042;
}
@media screen and (max-width: 768px){
    .header {
        max-width: 100%;
        padding: 15px 30px;
    }
}
@media screen and (max-width: 576px){
    .header {
        padding: 15px 14px 16px;
    }
}
