.toggle {
    margin: 9px auto 43px 0;
    display: inline;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    position: relative;
}

.toggle__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.toggle__pseudo-item {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 20px;
    border: none;
    background-image: url('../../images/FilterCheckbox/toggle__noChecked.svg');
}

.toggle__input:checked+.toggle__pseudo-item {
    background-image: url('../../images/FilterCheckbox/toggle__checked.svg');
}
.toggle__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 0 14px;
    padding: 0;
}
@media screen and (max-width: 768px){
    .toggle {
        margin: 26px auto 51px 0;
    }
}
@media screen and (max-width: 320px){
    .toggle {
        margin: 30px auto 63px 0;
    }
    .toggle__text {
        font-size: 11px;
        margin: 0 0 0 13px;
    }
}