.techs {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 70px;
    box-sizing: border-box;
    background-color: #272727;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
}
.techs__header {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    border-bottom: 1px solid #DADADA;
    margin: 0 0 90px 0;
}
.techs__title {
    margin: 0 0 23px 0;;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.63px;
}
.techs__description {
    display: flex;
    margin: 0 auto 100px;
    flex-direction: column;
    max-width: 600px;
    box-sizing: border-box;
    color: #FFFFFF;
}
.techs__description-title {
    margin: 0 0 26px 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    max-width: 100%;
}
.techs__description-subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 460px;
}
.techs__stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
    max-width: 100%;
    gap: 10px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.techs__tech {
    margin: 0;
    padding: 21px 0 22px;
    text-align: center;
    background-color: #303030;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    max-width: 90px;
    color: white;
    border-radius: 10px;
}
@media screen and (max-width: 768px){
    .techs {
        max-width: 100%;
        padding: 90px 50px;
    }
    .techs__header {
        margin: 0 0 80px 0;
    }
    .techs__description {
        margin: 0 auto 83px;
    }
    .techs__description-title {
        margin: 0 0 22px 0;
    }
    .techs__description-subtitle {
        font-size: 12px;
        line-height: 18px;
    }
    .techs__stack {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(84px,1fr));
    }
    .techs__tech {
        padding: 21px 0;
        background-color: #303030;
        font-size: 12px;
        line-height: 14.52px;
        max-width: 84px;
    }
}
@media screen and (max-width: 576px){
    .techs {
        padding: 70px 14px;
    }
    .techs__header {
        margin: 0 4px 60px;
    }
    .techs__title {
        margin: 0 0 28px 0;;
        font-size: 18px;
        line-height: 21.78px;
    }
    .techs__description {
        margin: 0 auto 50px;
        max-width: 100%;
    }
    .techs__description-title {
        margin: 0 0 24px 0;
        font-size: 30px;
        line-height: 36.31px;
    }
    .techs__description-subtitle {
        font-size: 11px;
        line-height: 16px;
        max-width: 100%;
    }
    .techs__stack {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(84px,1fr));
        max-width: calc(84px * 2 + 10px);
    }
}
